<section class="bg-light py-5">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-md-7">

                <p class="text-primary fw-bold mb-2">
                    UNIVERSIDAD CONTINENTAL
                </p>

                <h1 class="display-4 fw-bold">
                    Centro de Idiomas
                </h1>

                <p class="lead">
                    Aprende nuevos idiomas, desarrolla tus habilidades
                    comunicativas y prepárate para nuevos retos
                    académicos y profesionales.
                </p>

                <a href="#" class="btn btn-primary me-2">
                    Conoce nuestros programas
                </a>

                <a href="#" class="btn btn-outline-primary">
                    Ver matrícula
                </a>

            </div>

            <div class="col-md-5 mt-4 mt-md-0">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xN-Avfe1l81BeEoGXtbcJ2tLsc5glBlTOMZ179Ho_wYKp8THsHkjFOE&s=10" alt="Centro de Idiomas" class="img-fluid rounded">

            </div>

        </div>

    </div>

</section>